; Rising Ashes export presets (Android + iOS). See docs/RELEASE.md for signing,
; export templates and how to build. Signing fields are intentionally EMPTY:
; never commit keystores, passwords or Apple team IDs; set them in the editor's
; Export dialog (stored in .godot/export_credentials.cfg, which is git-ignored)
; or via the GODOT_ANDROID_KEYSTORE_RELEASE_* environment variables.
;
; exclude_filter drops everything the game doesn't load (docs/OPEN_SOURCE_AUDIT.md,
; "Imported but unused"). When game code starts loading one of these paths,
; remove its entry here or the release build will miss it.

[preset.0]

name="Android"
platform="Android"
runnable=true
advanced_options=true
dedicated_server=false
custom_features=""
export_filter="all_resources"
include_filter="CREDITS.md, addons/*/LICENSE, addons/*/LICENSE.md, addons/*/LICENSE.txt"
exclude_filter="res://assets/incoming/3dassets-dev-ai/blacksmith-forge-and-armoury/*, res://assets/incoming/3dassets-dev-ai/canal-town-and-windmill/*, res://assets/incoming/3dassets-dev-ai/equestrian-yard-and-stables/*, res://assets/incoming/3dassets-dev-ai/farm-livestock-and-barnyard/*, res://assets/incoming/3dassets-dev-ai/medieval-castle-construction/*, res://assets/incoming/3dassets-dev-ai/medieval-monastery-and-scriptorium/*, res://assets/incoming/3dassets-dev-ai/medieval-rts-faction-buildings/*, res://assets/incoming/3dassets-dev-ai/medieval-siege-and-castle-defence/*, res://assets/incoming/3dassets-dev-ai/medieval-tournament-and-jousting-ground/*, res://assets/incoming/3dassets-dev-ai/medieval-watermill-and-granary/*, res://assets/incoming/3dassets-dev-ai/swords-shields-and-melee-arms/*, res://assets/incoming/ai3d/meshy/_input/*, res://assets/incoming/ai3d/meshy/_previews/*, res://assets/incoming/ai3d/meshy/rigged/*, res://assets/incoming/ai3d/meshy/armored/_work/*, res://assets/incoming/armor/kaykit/*, res://assets/incoming/armor/quaternius/*, res://assets/incoming/armor/opengameart/cc0/*, res://assets/incoming/opengameart/sfx/death-pain-grunts-thebardofblasphemy/*, res://assets/incoming/opengameart/sfx/male-yelling-haeldb/*, res://assets/incoming/opengameart/sfx/swishes-artisticdude/*, res://assets/incoming/polyhaven/models/*, res://assets/incoming/polyhaven/textures/*_disp_*, res://assets/incoming/polyhaven/hdris/belfast_sunset_puresky_4k.hdr, res://assets/incoming/polyhaven/hdris/kloofendal_48d_partly_cloudy_puresky_4k.hdr, res://assets/incoming/polyhaven/hdris/kloofendal_overcast_puresky_4k.hdr, res://assets/incoming/polyhaven/hdris/qwantani_sunset_puresky_4k.hdr, res://assets/incoming/polyhaven/textures/brown_mud_02/*, res://assets/incoming/polyhaven/textures/brown_planks_05/*, res://assets/incoming/polyhaven/textures/castle_brick_07/*, res://assets/incoming/polyhaven/textures/castle_wall_slates/*, res://assets/incoming/polyhaven/textures/clay_plaster/*, res://assets/incoming/polyhaven/textures/clay_roof_tiles/*, res://assets/incoming/polyhaven/textures/damaged_plaster/*, res://assets/incoming/polyhaven/textures/dirt/*, res://assets/incoming/polyhaven/textures/forest_leaves_02/*, res://assets/incoming/polyhaven/textures/grassy_cobblestone/*, res://assets/incoming/polyhaven/textures/medieval_blocks_02/*, res://assets/incoming/polyhaven/textures/medieval_wood/*, res://assets/incoming/polyhaven/textures/mossy_stone_wall/*, res://assets/incoming/polyhaven/textures/red_slate_roof_tiles_01/*, res://assets/incoming/polyhaven/textures/reed_roof_04/*, res://assets/incoming/polyhaven/textures/sparse_grass/*, res://assets/incoming/polyhaven/textures/thatch_roof_angled/*, res://assets/incoming/quaternius/lowpoly-animated-knight/*, res://assets/incoming/quaternius/lowpoly-medieval-weapons/*, res://assets/incoming/quaternius/modular-medieval-buildings/*, res://assets/incoming/quaternius/universal-animation-library-2/Female Mannequin/*, res://assets/incoming/quaternius/universal-base-characters/Hairstyles/Origin at 0/*, res://assets/incoming/quaternius/universal-base-characters/Hairstyles/Rigged to Head Bone/FBX (Unity)/*, res://assets/incoming/quaternius/ultimate-fantasy-rts/PNG/*, res://assets/incoming/characters/_library/UAL_Extra_G6_female.glb, */_previews/*, */_raw/*, */_work/*, */_tools/*, */_sources/*, */_input/*, res://tools/*, res://tests/*, res://addons/gdUnit4/*, res://addons/limboai/*, res://addons/terrain_3d/*, res://addons/dialogue_manager/test_scene.tscn, res://addons/proton_scatter/demos/*, *.blend, *.blend1, *.py"
export_path="../build/android/RisingAshes.apk"
patches=PackedStringArray()
encryption_include_filters=""
encryption_exclude_filters=""
seed=0
encrypt_pck=false
encrypt_directory=false
script_export_mode=2

[preset.0.options]

custom_template/debug=""
custom_template/release=""
gradle_build/use_gradle_build=false
gradle_build/gradle_build_directory=""
gradle_build/android_source_template=""
gradle_build/compress_native_libraries=false
gradle_build/export_format=0
gradle_build/min_sdk=""
gradle_build/target_sdk=""
architectures/armeabi-v7a=true
architectures/arm64-v8a=true
architectures/x86=false
architectures/x86_64=false
version/code=1
version/name="0.1.0"
package/unique_name="com.risingashes.game"
package/name="Rising Ashes"
package/signed=true
package/app_category=2
package/retain_data_on_uninstall=false
package/exclude_from_recents=false
package/show_in_android_tv=false
package/show_in_app_library=true
package/show_as_launcher_app=false
launcher_icons/main_192x192="res://assets/generated/app_icon/icon_192.png"
launcher_icons/adaptive_foreground_432x432="res://assets/generated/app_icon/adaptive_foreground_432.png"
launcher_icons/adaptive_background_432x432="res://assets/generated/app_icon/adaptive_background_432.png"
launcher_icons/adaptive_monochrome_432x432="res://assets/generated/app_icon/adaptive_monochrome_432.png"
graphics/opengl_debug=false
shader_baker/enabled=false
xr_features/xr_mode=0
gesture/swipe_to_dismiss=false
screen/immersive_mode=true
screen/edge_to_edge=false
screen/support_small=true
screen/support_normal=true
screen/support_large=true
screen/support_xlarge=true
screen/background_color=Color(0.054902, 0.0627451, 0.0980392, 1)
user_data_backup/allow=false
command_line/extra_args=""
apk_expansion/enable=false
apk_expansion/SALT=""
apk_expansion/public_key=""
keystore/debug=""
keystore/debug_user=""
keystore/debug_password=""
keystore/release=""
keystore/release_user=""
keystore/release_password=""
permissions/custom_permissions=PackedStringArray()
permissions/internet=false
permissions/vibrate=true

[preset.1]

name="iOS"
platform="iOS"
runnable=true
advanced_options=true
dedicated_server=false
custom_features=""
export_filter="all_resources"
include_filter="CREDITS.md, addons/*/LICENSE, addons/*/LICENSE.md, addons/*/LICENSE.txt"
exclude_filter="res://assets/incoming/3dassets-dev-ai/blacksmith-forge-and-armoury/*, res://assets/incoming/3dassets-dev-ai/canal-town-and-windmill/*, res://assets/incoming/3dassets-dev-ai/equestrian-yard-and-stables/*, res://assets/incoming/3dassets-dev-ai/farm-livestock-and-barnyard/*, res://assets/incoming/3dassets-dev-ai/medieval-castle-construction/*, res://assets/incoming/3dassets-dev-ai/medieval-monastery-and-scriptorium/*, res://assets/incoming/3dassets-dev-ai/medieval-rts-faction-buildings/*, res://assets/incoming/3dassets-dev-ai/medieval-siege-and-castle-defence/*, res://assets/incoming/3dassets-dev-ai/medieval-tournament-and-jousting-ground/*, res://assets/incoming/3dassets-dev-ai/medieval-watermill-and-granary/*, res://assets/incoming/3dassets-dev-ai/swords-shields-and-melee-arms/*, res://assets/incoming/ai3d/meshy/_input/*, res://assets/incoming/ai3d/meshy/_previews/*, res://assets/incoming/ai3d/meshy/rigged/*, res://assets/incoming/ai3d/meshy/armored/_work/*, res://assets/incoming/armor/kaykit/*, res://assets/incoming/armor/quaternius/*, res://assets/incoming/armor/opengameart/cc0/*, res://assets/incoming/opengameart/sfx/death-pain-grunts-thebardofblasphemy/*, res://assets/incoming/opengameart/sfx/male-yelling-haeldb/*, res://assets/incoming/opengameart/sfx/swishes-artisticdude/*, res://assets/incoming/polyhaven/models/*, res://assets/incoming/polyhaven/textures/*_disp_*, res://assets/incoming/polyhaven/hdris/belfast_sunset_puresky_4k.hdr, res://assets/incoming/polyhaven/hdris/kloofendal_48d_partly_cloudy_puresky_4k.hdr, res://assets/incoming/polyhaven/hdris/kloofendal_overcast_puresky_4k.hdr, res://assets/incoming/polyhaven/hdris/qwantani_sunset_puresky_4k.hdr, res://assets/incoming/polyhaven/textures/brown_mud_02/*, res://assets/incoming/polyhaven/textures/brown_planks_05/*, res://assets/incoming/polyhaven/textures/castle_brick_07/*, res://assets/incoming/polyhaven/textures/castle_wall_slates/*, res://assets/incoming/polyhaven/textures/clay_plaster/*, res://assets/incoming/polyhaven/textures/clay_roof_tiles/*, res://assets/incoming/polyhaven/textures/damaged_plaster/*, res://assets/incoming/polyhaven/textures/dirt/*, res://assets/incoming/polyhaven/textures/forest_leaves_02/*, res://assets/incoming/polyhaven/textures/grassy_cobblestone/*, res://assets/incoming/polyhaven/textures/medieval_blocks_02/*, res://assets/incoming/polyhaven/textures/medieval_wood/*, res://assets/incoming/polyhaven/textures/mossy_stone_wall/*, res://assets/incoming/polyhaven/textures/red_slate_roof_tiles_01/*, res://assets/incoming/polyhaven/textures/reed_roof_04/*, res://assets/incoming/polyhaven/textures/sparse_grass/*, res://assets/incoming/polyhaven/textures/thatch_roof_angled/*, res://assets/incoming/quaternius/lowpoly-animated-knight/*, res://assets/incoming/quaternius/lowpoly-medieval-weapons/*, res://assets/incoming/quaternius/modular-medieval-buildings/*, res://assets/incoming/quaternius/universal-animation-library-2/Female Mannequin/*, res://assets/incoming/quaternius/universal-base-characters/Hairstyles/Origin at 0/*, res://assets/incoming/quaternius/universal-base-characters/Hairstyles/Rigged to Head Bone/FBX (Unity)/*, res://assets/incoming/quaternius/ultimate-fantasy-rts/PNG/*, res://assets/incoming/characters/_library/UAL_Extra_G6_female.glb, */_previews/*, */_raw/*, */_work/*, */_tools/*, */_sources/*, */_input/*, res://tools/*, res://tests/*, res://addons/gdUnit4/*, res://addons/limboai/*, res://addons/terrain_3d/*, res://addons/dialogue_manager/test_scene.tscn, res://addons/proton_scatter/demos/*, *.blend, *.blend1, *.py"
export_path="../build/ios/RisingAshes.ipa"
patches=PackedStringArray()
encryption_include_filters=""
encryption_exclude_filters=""
seed=0
encrypt_pck=false
encrypt_directory=false
script_export_mode=2

[preset.1.options]

custom_template/debug=""
custom_template/release=""
architectures/arm64=true
application/app_store_team_id=""
application/export_method_debug=1
application/code_sign_identity_debug=""
application/code_sign_identity_release=""
application/provisioning_profile_uuid_debug=""
application/provisioning_profile_uuid_release=""
application/export_method_release=0
application/bundle_identifier="com.risingashes.game"
application/signature=""
application/short_version="0.1.0"
application/version="1"
application/min_ios_version="14.0"
application/additional_plist_content=""
application/icon_interpolation=4
icons/icon_1024x1024="res://assets/generated/app_icon/icon_1024.png"
application/export_project_only=false
application/delete_old_export_files_unconditionally=false
application/generate_simulator_library_if_missing=true
capabilities/access_wifi=false
capabilities/performance_gaming_tier=false
capabilities/performance_a12=false
capabilities/additional=PackedStringArray()
shader_baker/enabled=false
user_data/accessible_from_files_app=false
user_data/accessible_from_itunes_sharing=false
privacy/camera_usage_description=""
privacy/microphone_usage_description=""
privacy/photolibrary_usage_description=""
storyboard/image_scale_mode=0
storyboard/custom_image@2x=""
storyboard/custom_image@3x=""
storyboard/use_custom_bg_color=true
storyboard/custom_bg_color=Color(0.054902, 0.0627451, 0.0980392, 1)
